 *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
  }

  .header{
min-height: 100vh;
width: 100%;
background: #1C2833;
color: #fff;
position: relative;
  }

  nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
  }
   .logo{
       text-decoration: none;
       color:#fff;
       font-size: 30px;
       font-weight: bold;
       padding-top: 10px;
       padding-left: 10%;
   }
   .nav-links{
       text-align: right;
       background: #F1C40F;
       padding: 10px 30px;
       border-bottom-left-radius: 18px;

   }
   .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
   }
.nav-links ul li a{ 
color: #fff;
text-decoration: none;
font-size: 18px;
 }
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    background: #F1C40F;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}
.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 55%;
}
.left-col img{ 
    width: 80%;
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}
.left-col img:hover{
    filter:grayscale(1);
}
.right-col h1{
    font-size: 55px;
    font-weight: 600;
}
.right-col p{
    color: #777;
    margin: 20px 0 70px;
}
.social-media{
    display: flex;
    margin-top: 30px;
}
.icon{
    width: 100px;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    text-decoration: none;

}
.icon img{
    width: 28px;
}
.icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f50057;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.icon.a:hover{
    opacity: 1;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #5B2C6F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5B2C6F;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }